<div class="search-form my-3">
    <form method="POST" class="row justify-content-center g-3" action="">
    <div class="col-6">
        <label for="search-input" class="visually-hidden">Search</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Type an article title">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
    </div>
    </form>
</div>